openapi: 3.1.0
info:
  title: Murex MX.3 Market Data Accounting Collateral API
  description: Real-time and historical market data API providing quotes, yield curves, volatility surfaces, and reference data for pricing and valuation on the Murex MX.3 platform.
  version: '1.0'
  contact:
    name: Murex Support
    url: https://www.murex.com/en/support
  termsOfService: https://www.murex.com/en/legal/terms
servers:
- url: https://api.murex.com/v1/marketdata
  description: Murex MX.3 Market Data API
security:
- bearerAuth: []
tags:
- name: Collateral
  description: Collateral management and margin operations
paths:
  /collateral/agreements:
    get:
      operationId: listCollateralAgreements
      summary: Murex List collateral agreements
      description: Retrieve CSA and collateral agreements with margin call status.
      tags:
      - Collateral
      parameters:
      - name: counterpartyId
        in: query
        description: Filter by counterparty
        schema:
          type: string
      - name: status
        in: query
        description: Filter by agreement status
        schema:
          type: string
          enum:
          - Active
          - Suspended
          - Terminated
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: List of collateral agreements
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CollateralAgreement'
                  totalCount:
                    type: integer
        '401':
          description: Unauthorized
  /collateral/margin-calls:
    get:
      operationId: listMarginCalls
      summary: Murex List margin calls
      description: Retrieve margin call calculations and their settlement status.
      tags:
      - Collateral
      parameters:
      - name: agreementId
        in: query
        description: Filter by collateral agreement
        schema:
          type: string
      - name: status
        in: query
        description: Filter by margin call status
        schema:
          type: string
          enum:
          - Calculated
          - Issued
          - Agreed
          - Disputed
          - Settled
      - name: asOfDate
        in: query
        description: Margin call date
        schema:
          type: string
          format: date
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: List of margin calls
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/MarginCall'
                  totalCount:
                    type: integer
        '401':
          description: Unauthorized
components:
  schemas:
    CollateralAgreement:
      type: object
      properties:
        agreementId:
          type: string
          description: Unique agreement identifier
        agreementType:
          type: string
          enum:
          - CSA
          - ISDA
          - GMRA
          - GMSLA
          description: Agreement type
        counterpartyId:
          type: string
          description: Counterparty identifier
        counterpartyName:
          type: string
          description: Counterparty name
        status:
          type: string
          enum:
          - Active
          - Suspended
          - Terminated
          description: Agreement status
        baseCurrency:
          type: string
          description: Agreement base currency
        threshold:
          type: number
          description: Threshold amount
        minimumTransferAmount:
          type: number
          description: Minimum transfer amount
        independentAmount:
          type: number
          description: Independent amount
        currentExposure:
          type: number
          description: Current credit exposure
        collateralHeld:
          type: number
          description: Collateral held value
        collateralPosted:
          type: number
          description: Collateral posted value
    MarginCall:
      type: object
      properties:
        marginCallId:
          type: string
          description: Unique margin call identifier
        agreementId:
          type: string
          description: Associated collateral agreement
        counterpartyId:
          type: string
          description: Counterparty identifier
        direction:
          type: string
          enum:
          - Deliver
          - Return
          description: Margin call direction
        callAmount:
          type: number
          description: Margin call amount
        currency:
          type: string
          description: Margin call currency
        exposure:
          type: number
          description: Current exposure amount
        status:
          type: string
          enum:
          - Calculated
          - Issued
          - Agreed
          - Disputed
          - Settled
          description: Margin call status
        callDate:
          type: string
          format: date
          description: Margin call date
        settlementDate:
          type: string
          format: date
          description: Expected settlement date
        issuedAt:
          type: string
          format: date-time
          description: When the margin call was issued
  parameters:
    offset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        default: 0
    limit:
      name: limit
      in: query
      description: Maximum number of results to return
      schema:
        type: integer
        default: 50
        maximum: 500
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for MX.3 API access
externalDocs:
  description: Murex MX.3 Market Data API Documentation
  url: https://docs.murex.com/mx3/marketdata-api
