openapi: 3.1.0
info:
  title: Murex MX.3 Market Data Accounting Instruments API
  description: Real-time and historical market data API providing quotes, yield curves, volatility surfaces, and reference data for pricing and valuation on the Murex MX.3 platform.
  version: '1.0'
  contact:
    name: Murex Support
    url: https://www.murex.com/en/support
  termsOfService: https://www.murex.com/en/legal/terms
servers:
- url: https://api.murex.com/v1/marketdata
  description: Murex MX.3 Market Data API
security:
- bearerAuth: []
tags:
- name: Instruments
  description: Financial instrument reference data
paths:
  /instruments:
    get:
      operationId: listInstruments
      summary: Murex List instruments
      description: Search and retrieve financial instrument reference data.
      tags:
      - Instruments
      parameters:
      - $ref: '#/components/parameters/assetClass'
      - name: query
        in: query
        description: Search query for instrument name or identifier
        schema:
          type: string
      - name: currency
        in: query
        description: Filter by instrument currency
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: List of instruments
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Instrument'
                  totalCount:
                    type: integer
        '401':
          description: Unauthorized
  /instruments/{instrumentId}:
    get:
      operationId: getInstrument
      summary: Murex Get an instrument
      description: Retrieve details of a specific financial instrument.
      tags:
      - Instruments
      parameters:
      - name: instrumentId
        in: path
        required: true
        description: Instrument unique identifier
        schema:
          type: string
      responses:
        '200':
          description: Instrument details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instrument'
        '401':
          description: Unauthorized
        '404':
          description: Instrument not found
components:
  schemas:
    Instrument:
      type: object
      properties:
        instrumentId:
          type: string
          description: Unique instrument identifier
        name:
          type: string
          description: Instrument name
        assetClass:
          type: string
          description: Asset class classification
        instrumentType:
          type: string
          description: Specific instrument type (e.g., IRS, CDS, FXForward)
        currency:
          type: string
          description: Primary currency (ISO 4217)
        secondaryCurrency:
          type: string
          description: Secondary currency for FX instruments
        issuer:
          type: string
          description: Issuer name for bonds and credit instruments
        maturityDate:
          type: string
          format: date
          description: Maturity or expiry date
        isin:
          type: string
          description: International Securities Identification Number
        ticker:
          type: string
          description: Market ticker symbol
  parameters:
    offset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        default: 0
    limit:
      name: limit
      in: query
      description: Maximum number of results to return
      schema:
        type: integer
        default: 50
        maximum: 500
    assetClass:
      name: assetClass
      in: query
      description: Filter by asset class
      schema:
        type: string
        enum:
        - FX
        - IRD
        - Equity
        - Credit
        - Commodity
        - FixedIncome
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for MX.3 API access
externalDocs:
  description: Murex MX.3 Market Data API Documentation
  url: https://docs.murex.com/mx3/marketdata-api
