openapi: 3.2.0
info:
  title: Murex MX.3 Trading Portfolios API
  description: API for executing trades, managing orders, and accessing real-time market data across multiple asset classes including derivatives, fixed income, equities, and FX on the Murex MX.3 platform.
  version: '1.0'
  contact:
    name: Murex Support
    url: https://www.murex.com/en/support
  termsOfService: https://www.murex.com/en/legal/terms
servers:
- url: https://api.murex.com/v1/trading
  description: Murex MX.3 Trading API
security:
- bearerAuth: []
tags:
- name: Portfolios
  description: Trading portfolio and book management
paths:
  /portfolios:
    get:
      operationId: listPortfolios
      summary: Murex List portfolios
      description: Retrieve available trading portfolios and books.
      tags:
      - Portfolios
      parameters:
      - name: deskId
        in: query
        description: Filter by trading desk identifier
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: List of portfolios
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Portfolio'
                  totalCount:
                    type: integer
        '401':
          description: Unauthorized
  /portfolios/{portfolioId}:
    get:
      operationId: getPortfolio
      summary: Murex Get a portfolio
      description: Retrieve details of a specific trading portfolio.
      tags:
      - Portfolios
      parameters:
      - name: portfolioId
        in: path
        required: true
        description: Portfolio unique identifier
        schema:
          type: string
      responses:
        '200':
          description: Portfolio details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Portfolio'
        '401':
          description: Unauthorized
        '404':
          description: Portfolio not found
components:
  parameters:
    limit:
      name: limit
      in: query
      description: Maximum number of results to return
      schema:
        type: integer
        default: 50
        maximum: 500
    offset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        default: 0
  schemas:
    Portfolio:
      type: object
      properties:
        portfolioId:
          type: string
          description: Unique portfolio identifier
        name:
          type: string
          description: Portfolio or book name
        deskId:
          type: string
          description: Trading desk identifier
        deskName:
          type: string
          description: Trading desk name
        currency:
          type: string
          description: Portfolio base currency (ISO 4217)
        entity:
          type: string
          description: Legal entity
        status:
          type: string
          enum:
          - Active
          - Inactive
          description: Portfolio status
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for MX.3 API access
externalDocs:
  description: Murex MX.3 Trading API Documentation
  url: https://docs.murex.com/mx3/trading-api
