openapi: 3.1.0
info:
  title: Murex MX.3 Market Data Accounting API
  description: Real-time and historical market data API providing quotes, yield curves, volatility surfaces, and reference data for pricing and valuation on the Murex MX.3 platform.
  version: '1.0'
  contact:
    name: Murex Support
    url: https://www.murex.com/en/support
  termsOfService: https://www.murex.com/en/legal/terms
servers:
- url: https://api.murex.com/v1/marketdata
  description: Murex MX.3 Market Data API
security:
- bearerAuth: []
tags:
- name: Accounting
  description: Accounting entries and journal operations
paths:
  /accounting/entries:
    get:
      operationId: listAccountingEntries
      summary: Murex List accounting entries
      description: Retrieve accounting journal entries generated from trade and position events.
      tags:
      - Accounting
      parameters:
      - $ref: '#/components/parameters/portfolioId'
      - name: fromDate
        in: query
        description: Start date
        schema:
          type: string
          format: date
      - name: toDate
        in: query
        description: End date
        schema:
          type: string
          format: date
      - name: eventType
        in: query
        description: Filter by accounting event type
        schema:
          type: string
          enum:
          - TradeEntry
          - Accrual
          - Revaluation
          - Settlement
          - Maturity
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: List of accounting entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AccountingEntry'
                  totalCount:
                    type: integer
        '401':
          description: Unauthorized
components:
  schemas:
    AccountingEntry:
      type: object
      properties:
        entryId:
          type: string
          description: Accounting entry identifier
        tradeId:
          type: string
          description: Associated trade identifier
        portfolioId:
          type: string
          description: Portfolio identifier
        eventType:
          type: string
          enum:
          - TradeEntry
          - Accrual
          - Revaluation
          - Settlement
          - Maturity
          description: Accounting event type
        debitAccount:
          type: string
          description: Debit account code
        creditAccount:
          type: string
          description: Credit account code
        amount:
          type: number
          description: Entry amount
        currency:
          type: string
          description: Entry currency (ISO 4217)
        postingDate:
          type: string
          format: date
          description: Accounting posting date
        valueDate:
          type: string
          format: date
          description: Value date
        description:
          type: string
          description: Entry description
  parameters:
    portfolioId:
      name: portfolioId
      in: query
      description: Portfolio or book identifier
      schema:
        type: string
    offset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        default: 0
    limit:
      name: limit
      in: query
      description: Maximum number of results to return
      schema:
        type: integer
        default: 50
        maximum: 500
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for MX.3 API access
externalDocs:
  description: Murex MX.3 Market Data API Documentation
  url: https://docs.murex.com/mx3/marketdata-api
