openapi: 3.1.0
info:
  title: Murex MX.3 Market Data Accounting Reconciliations API
  description: Real-time and historical market data API providing quotes, yield curves, volatility surfaces, and reference data for pricing and valuation on the Murex MX.3 platform.
  version: '1.0'
  contact:
    name: Murex Support
    url: https://www.murex.com/en/support
  termsOfService: https://www.murex.com/en/legal/terms
servers:
- url: https://api.murex.com/v1/marketdata
  description: Murex MX.3 Market Data API
security:
- bearerAuth: []
tags:
- name: Reconciliations
  description: Position and cash reconciliation operations
paths:
  /reconciliations:
    get:
      operationId: listReconciliations
      summary: Murex List reconciliations
      description: Retrieve reconciliation results for positions, cash balances, and trade matching.
      tags:
      - Reconciliations
      parameters:
      - name: type
        in: query
        description: Reconciliation type
        schema:
          type: string
          enum:
          - Position
          - Cash
          - Trade
      - name: status
        in: query
        description: Filter by reconciliation status
        schema:
          type: string
          enum:
          - Matched
          - Unmatched
          - Pending
          - Investigating
      - name: asOfDate
        in: query
        description: Reconciliation date
        schema:
          type: string
          format: date
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: List of reconciliation items
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReconciliationItem'
                  totalCount:
                    type: integer
                  matchedCount:
                    type: integer
                  unmatchedCount:
                    type: integer
        '401':
          description: Unauthorized
  /reconciliations/{reconciliationId}:
    get:
      operationId: getReconciliation
      summary: Murex Get a reconciliation item
      description: Retrieve details of a specific reconciliation item.
      tags:
      - Reconciliations
      parameters:
      - name: reconciliationId
        in: path
        required: true
        description: Reconciliation item identifier
        schema:
          type: string
      responses:
        '200':
          description: Reconciliation item details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReconciliationItem'
        '401':
          description: Unauthorized
        '404':
          description: Reconciliation item not found
components:
  schemas:
    ReconciliationItem:
      type: object
      properties:
        reconciliationId:
          type: string
          description: Unique reconciliation item identifier
        type:
          type: string
          enum:
          - Position
          - Cash
          - Trade
          description: Reconciliation type
        status:
          type: string
          enum:
          - Matched
          - Unmatched
          - Pending
          - Investigating
          description: Reconciliation status
        internalValue:
          type: number
          description: Internal system value
        externalValue:
          type: number
          description: External or counterparty value
        difference:
          type: number
          description: Difference between internal and external values
        currency:
          type: string
          description: Currency of the reconciled values
        source:
          type: string
          description: External data source
        asOfDate:
          type: string
          format: date
          description: Reconciliation date
        instrumentId:
          type: string
          description: Instrument identifier if applicable
        counterpartyId:
          type: string
          description: Counterparty identifier if applicable
        comment:
          type: string
          description: Investigation or resolution notes
  parameters:
    offset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        default: 0
    limit:
      name: limit
      in: query
      description: Maximum number of results to return
      schema:
        type: integer
        default: 50
        maximum: 500
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for MX.3 API access
externalDocs:
  description: Murex MX.3 Market Data API Documentation
  url: https://docs.murex.com/mx3/marketdata-api
