openapi: 3.1.0
info:
  title: Murex MX.3 Market Data Accounting Regulatory Reporting API
  description: Real-time and historical market data API providing quotes, yield curves, volatility surfaces, and reference data for pricing and valuation on the Murex MX.3 platform.
  version: '1.0'
  contact:
    name: Murex Support
    url: https://www.murex.com/en/support
  termsOfService: https://www.murex.com/en/legal/terms
servers:
- url: https://api.murex.com/v1/marketdata
  description: Murex MX.3 Market Data API
security:
- bearerAuth: []
tags:
- name: Regulatory Reporting
  description: Regulatory trade and transaction reporting
paths:
  /regulatory/reports:
    get:
      operationId: listRegulatoryReports
      summary: Murex List regulatory reports
      description: Retrieve regulatory trade reports for EMIR, MiFID II, Dodd-Frank, and other reporting regimes.
      tags:
      - Regulatory Reporting
      parameters:
      - name: regime
        in: query
        description: Regulatory reporting regime
        schema:
          type: string
          enum:
          - EMIR
          - MiFIDII
          - DoddFrank
          - SFTR
          - MAS
      - name: status
        in: query
        description: Report submission status
        schema:
          type: string
          enum:
          - Pending
          - Submitted
          - Accepted
          - Rejected
          - Amended
      - name: fromDate
        in: query
        description: Start date
        schema:
          type: string
          format: date
      - name: toDate
        in: query
        description: End date
        schema:
          type: string
          format: date
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: List of regulatory reports
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/RegulatoryReport'
                  totalCount:
                    type: integer
        '401':
          description: Unauthorized
  /regulatory/reports/{reportId}:
    get:
      operationId: getRegulatoryReport
      summary: Murex Get a regulatory report
      description: Retrieve details of a specific regulatory report submission.
      tags:
      - Regulatory Reporting
      parameters:
      - name: reportId
        in: path
        required: true
        description: Regulatory report identifier
        schema:
          type: string
      responses:
        '200':
          description: Regulatory report details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegulatoryReport'
        '401':
          description: Unauthorized
        '404':
          description: Report not found
components:
  parameters:
    offset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        default: 0
    limit:
      name: limit
      in: query
      description: Maximum number of results to return
      schema:
        type: integer
        default: 50
        maximum: 500
  schemas:
    RegulatoryReport:
      type: object
      properties:
        reportId:
          type: string
          description: Unique report identifier
        tradeId:
          type: string
          description: Associated trade identifier
        regime:
          type: string
          enum:
          - EMIR
          - MiFIDII
          - DoddFrank
          - SFTR
          - MAS
          description: Reporting regime
        reportType:
          type: string
          enum:
          - New
          - Modify
          - Cancel
          - Valuation
          description: Report action type
        status:
          type: string
          enum:
          - Pending
          - Submitted
          - Accepted
          - Rejected
          - Amended
          description: Submission status
        uti:
          type: string
          description: Unique Transaction Identifier
        lei:
          type: string
          description: Legal Entity Identifier of the reporting entity
        tradeRepository:
          type: string
          description: Trade repository destination
        submittedAt:
          type: string
          format: date-time
          description: Submission timestamp
        responseAt:
          type: string
          format: date-time
          description: Trade repository response timestamp
        rejectionReason:
          type: string
          description: Rejection reason if rejected
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for MX.3 API access
externalDocs:
  description: Murex MX.3 Market Data API Documentation
  url: https://docs.murex.com/mx3/marketdata-api
