openapi: 3.2.0
info:
  title: Murex MX.3 Post-Trade Confirmations API
  description: Post-trade processing API for confirmations, settlements, reconciliations, and regulatory reporting workflows on the Murex MX.3 platform.
  version: '1.0'
  contact:
    name: Murex Support
    url: https://www.murex.com/en/support
  termsOfService: https://www.murex.com/en/legal/terms
servers:
- url: https://api.murex.com/v1/posttrade
  description: Murex MX.3 Post-Trade API
security:
- bearerAuth: []
tags:
- name: Confirmations
  description: Trade confirmation generation and matching
paths:
  /confirmations:
    get:
      operationId: listConfirmations
      summary: Murex List confirmations
      description: Retrieve trade confirmations with optional filtering by status, counterparty, and date range.
      tags:
      - Confirmations
      parameters:
      - name: status
        in: query
        description: Filter by confirmation status
        schema:
          type: string
          enum:
          - Pending
          - Sent
          - Matched
          - Mismatched
          - Disputed
          - Cancelled
      - name: counterpartyId
        in: query
        description: Filter by counterparty
        schema:
          type: string
      - name: fromDate
        in: query
        description: Start date
        schema:
          type: string
          format: date
      - name: toDate
        in: query
        description: End date
        schema:
          type: string
          format: date
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: List of confirmations
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Confirmation'
                  totalCount:
                    type: integer
        '401':
          description: Unauthorized
  /confirmations/{confirmationId}:
    get:
      operationId: getConfirmation
      summary: Murex Get a confirmation
      description: Retrieve details of a specific trade confirmation.
      tags:
      - Confirmations
      parameters:
      - name: confirmationId
        in: path
        required: true
        description: Confirmation unique identifier
        schema:
          type: string
      responses:
        '200':
          description: Confirmation details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Confirmation'
        '401':
          description: Unauthorized
        '404':
          description: Confirmation not found
  /confirmations/{confirmationId}/match:
    post:
      operationId: matchConfirmation
      summary: Murex Match a confirmation
      description: Mark a confirmation as matched after counterparty agreement.
      tags:
      - Confirmations
      parameters:
      - name: confirmationId
        in: path
        required: true
        description: Confirmation identifier
        schema:
          type: string
      responses:
        '200':
          description: Confirmation matched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Confirmation'
        '400':
          description: Confirmation cannot be matched
        '401':
          description: Unauthorized
        '404':
          description: Confirmation not found
components:
  parameters:
    limit:
      name: limit
      in: query
      description: Maximum number of results to return
      schema:
        type: integer
        default: 50
        maximum: 500
    offset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        default: 0
  schemas:
    Confirmation:
      type: object
      properties:
        confirmationId:
          type: string
          description: Unique confirmation identifier
        tradeId:
          type: string
          description: Associated trade identifier
        counterpartyId:
          type: string
          description: Counterparty identifier
        counterpartyName:
          type: string
          description: Counterparty name
        status:
          type: string
          enum:
          - Pending
          - Sent
          - Matched
          - Mismatched
          - Disputed
          - Cancelled
          description: Confirmation status
        confirmationType:
          type: string
          enum:
          - Electronic
          - Paper
          - Platform
          description: Confirmation delivery method
        platform:
          type: string
          description: Electronic confirmation platform (e.g., MarkitWire, DTCC)
        tradeDate:
          type: string
          format: date
          description: Trade date
        sentAt:
          type: string
          format: date-time
          description: When the confirmation was sent
        matchedAt:
          type: string
          format: date-time
          description: When the confirmation was matched
        createdAt:
          type: string
          format: date-time
          description: Creation timestamp
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for MX.3 API access
externalDocs:
  description: Murex MX.3 Post-Trade API Documentation
  url: https://docs.murex.com/mx3/posttrade-api
