openapi: 3.2.0
info:
  title: Murex MX.3 Post-Trade Settlements API
  description: Post-trade processing API for confirmations, settlements, reconciliations, and regulatory reporting workflows on the Murex MX.3 platform.
  version: '1.0'
  contact:
    name: Murex Support
    url: https://www.murex.com/en/support
  termsOfService: https://www.murex.com/en/legal/terms
servers:
- url: https://api.murex.com/v1/posttrade
  description: Murex MX.3 Post-Trade API
security:
- bearerAuth: []
tags:
- name: Settlements
  description: Settlement instruction management and processing
paths:
  /settlements:
    get:
      operationId: listSettlements
      summary: Murex List settlements
      description: Retrieve settlement instructions and their processing status.
      tags:
      - Settlements
      parameters:
      - name: status
        in: query
        description: Filter by settlement status
        schema:
          type: string
          enum:
          - Pending
          - Instructed
          - Settled
          - Failed
          - Cancelled
      - name: settlementDate
        in: query
        description: Filter by settlement date
        schema:
          type: string
          format: date
      - name: currency
        in: query
        description: Filter by settlement currency
        schema:
          type: string
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: List of settlements
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Settlement'
                  totalCount:
                    type: integer
        '401':
          description: Unauthorized
  /settlements/{settlementId}:
    get:
      operationId: getSettlement
      summary: Murex Get a settlement
      description: Retrieve details of a specific settlement instruction.
      tags:
      - Settlements
      parameters:
      - name: settlementId
        in: path
        required: true
        description: Settlement unique identifier
        schema:
          type: string
      responses:
        '200':
          description: Settlement details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settlement'
        '401':
          description: Unauthorized
        '404':
          description: Settlement not found
  /settlements/{settlementId}/instruct:
    post:
      operationId: instructSettlement
      summary: Murex Instruct a settlement
      description: Send settlement instructions to the payment or securities settlement system.
      tags:
      - Settlements
      parameters:
      - name: settlementId
        in: path
        required: true
        description: Settlement identifier
        schema:
          type: string
      responses:
        '200':
          description: Settlement instructed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settlement'
        '400':
          description: Settlement cannot be instructed
        '401':
          description: Unauthorized
        '404':
          description: Settlement not found
components:
  schemas:
    Settlement:
      type: object
      properties:
        settlementId:
          type: string
          description: Unique settlement identifier
        tradeId:
          type: string
          description: Associated trade identifier
        status:
          type: string
          enum:
          - Pending
          - Instructed
          - Settled
          - Failed
          - Cancelled
          description: Settlement status
        settlementDate:
          type: string
          format: date
          description: Expected settlement date
        amount:
          type: number
          description: Settlement amount
        currency:
          type: string
          description: Settlement currency (ISO 4217)
        direction:
          type: string
          enum:
          - Pay
          - Receive
          description: Settlement direction
        counterpartyId:
          type: string
          description: Counterparty identifier
        counterpartyName:
          type: string
          description: Counterparty name
        nostroAccount:
          type: string
          description: Nostro account for settlement
        correspondentBank:
          type: string
          description: Correspondent bank details
        paymentMethod:
          type: string
          enum:
          - SWIFT
          - FedWire
          - TARGET2
          - CLS
          - RTGS
          description: Payment settlement method
        messageType:
          type: string
          description: SWIFT message type (e.g., MT202, MT300)
        instructedAt:
          type: string
          format: date-time
          description: When settlement was instructed
        settledAt:
          type: string
          format: date-time
          description: Actual settlement timestamp
  parameters:
    offset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        default: 0
    limit:
      name: limit
      in: query
      description: Maximum number of results to return
      schema:
        type: integer
        default: 50
        maximum: 500
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for MX.3 API access
externalDocs:
  description: Murex MX.3 Post-Trade API Documentation
  url: https://docs.murex.com/mx3/posttrade-api
