openapi: 3.1.0
info:
  title: Murex MX.3 Market Data Accounting Volatility API
  description: Real-time and historical market data API providing quotes, yield curves, volatility surfaces, and reference data for pricing and valuation on the Murex MX.3 platform.
  version: '1.0'
  contact:
    name: Murex Support
    url: https://www.murex.com/en/support
  termsOfService: https://www.murex.com/en/legal/terms
servers:
- url: https://api.murex.com/v1/marketdata
  description: Murex MX.3 Market Data API
security:
- bearerAuth: []
tags:
- name: Volatility
  description: Volatility surfaces and skew data
paths:
  /volatility/surfaces:
    get:
      operationId: listVolatilitySurfaces
      summary: Murex List volatility surfaces
      description: Retrieve available volatility surfaces for options pricing.
      tags:
      - Volatility
      parameters:
      - name: underlying
        in: query
        description: Filter by underlying instrument or index
        schema:
          type: string
      - name: assetClass
        in: query
        description: Filter by asset class
        schema:
          type: string
          enum:
          - FX
          - IRD
          - Equity
          - Commodity
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: List of volatility surfaces
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/VolatilitySurfaceDefinition'
                  totalCount:
                    type: integer
        '401':
          description: Unauthorized
  /volatility/surfaces/{surfaceId}:
    get:
      operationId: getVolatilitySurface
      summary: Murex Get volatility surface data
      description: Retrieve volatility surface data with strike and tenor dimensions.
      tags:
      - Volatility
      parameters:
      - name: surfaceId
        in: path
        required: true
        description: Volatility surface identifier
        schema:
          type: string
      - name: asOfDate
        in: query
        description: Surface valuation date
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Volatility surface data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolatilitySurfaceData'
        '401':
          description: Unauthorized
        '404':
          description: Surface not found
components:
  schemas:
    VolatilitySurfaceDefinition:
      type: object
      properties:
        surfaceId:
          type: string
          description: Unique surface identifier
        name:
          type: string
          description: Surface display name
        underlying:
          type: string
          description: Underlying instrument or index
        assetClass:
          type: string
          description: Asset class
        quoteType:
          type: string
          enum:
          - LogNormal
          - Normal
          - ShiftedLogNormal
          description: Volatility quote convention
    VolatilitySurfaceData:
      type: object
      properties:
        surfaceId:
          type: string
        name:
          type: string
        asOfDate:
          type: string
          format: date
        underlying:
          type: string
        points:
          type: array
          description: Volatility surface data points
          items:
            type: object
            properties:
              tenor:
                type: string
                description: Option expiry tenor
              strike:
                type: number
                description: Strike price or delta
              strikeType:
                type: string
                enum:
                - Absolute
                - Delta
                - Moneyness
              volatility:
                type: number
                description: Implied volatility value
  parameters:
    offset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        default: 0
    limit:
      name: limit
      in: query
      description: Maximum number of results to return
      schema:
        type: integer
        default: 50
        maximum: 500
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for MX.3 API access
externalDocs:
  description: Murex MX.3 Market Data API Documentation
  url: https://docs.murex.com/mx3/marketdata-api
