openapi: 3.1.0
info:
  title: Murex MX.3 Market Data Accounting Curves API
  description: Real-time and historical market data API providing quotes, yield curves, volatility surfaces, and reference data for pricing and valuation on the Murex MX.3 platform.
  version: '1.0'
  contact:
    name: Murex Support
    url: https://www.murex.com/en/support
  termsOfService: https://www.murex.com/en/legal/terms
servers:
- url: https://api.murex.com/v1/marketdata
  description: Murex MX.3 Market Data API
security:
- bearerAuth: []
tags:
- name: Curves
  description: Yield curves and forward curves
paths:
  /curves:
    get:
      operationId: listCurves
      summary: Murex List available curves
      description: Retrieve a list of available yield curves and forward curves.
      tags:
      - Curves
      parameters:
      - name: currency
        in: query
        description: Filter by currency
        schema:
          type: string
      - name: curveType
        in: query
        description: Filter by curve type
        schema:
          type: string
          enum:
          - Yield
          - Discount
          - Forward
          - Basis
          - Credit
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: List of available curves
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CurveDefinition'
                  totalCount:
                    type: integer
        '401':
          description: Unauthorized
  /curves/{curveId}:
    get:
      operationId: getCurve
      summary: Murex Get curve data
      description: Retrieve curve data points including tenors and rates for a specific curve.
      tags:
      - Curves
      parameters:
      - name: curveId
        in: path
        required: true
        description: Curve unique identifier
        schema:
          type: string
      - name: asOfDate
        in: query
        description: Curve valuation date
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Curve data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurveData'
        '401':
          description: Unauthorized
        '404':
          description: Curve not found
components:
  schemas:
    CurveData:
      type: object
      properties:
        curveId:
          type: string
          description: Curve identifier
        name:
          type: string
          description: Curve name
        asOfDate:
          type: string
          format: date
          description: Valuation date
        currency:
          type: string
        curveType:
          type: string
        points:
          type: array
          description: Curve data points
          items:
            type: object
            properties:
              tenor:
                type: string
                description: Tenor label (e.g., ON, 1W, 1M, 3M, 1Y)
              date:
                type: string
                format: date
                description: Maturity date
              rate:
                type: number
                description: Rate or yield value
              discountFactor:
                type: number
                description: Discount factor
    CurveDefinition:
      type: object
      properties:
        curveId:
          type: string
          description: Unique curve identifier
        name:
          type: string
          description: Curve display name
        currency:
          type: string
          description: Curve currency
        curveType:
          type: string
          enum:
          - Yield
          - Discount
          - Forward
          - Basis
          - Credit
          description: Curve type
        dayCountConvention:
          type: string
          description: Day count convention (e.g., ACT/360, ACT/365)
        interpolationMethod:
          type: string
          description: Interpolation method used
  parameters:
    offset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        default: 0
    limit:
      name: limit
      in: query
      description: Maximum number of results to return
      schema:
        type: integer
        default: 50
        maximum: 500
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for MX.3 API access
externalDocs:
  description: Murex MX.3 Market Data API Documentation
  url: https://docs.murex.com/mx3/marketdata-api
