openapi: 3.1.0
info:
  title: Murex MX.3 Post-Trade API
  description: >-
    Post-trade processing API for confirmations, settlements, reconciliations,
    and regulatory reporting workflows on the Murex MX.3 platform.
  version: '1.0'
  contact:
    name: Murex Support
    url: https://www.murex.com/en/support
  termsOfService: https://www.murex.com/en/legal/terms
externalDocs:
  description: Murex MX.3 Post-Trade API Documentation
  url: https://docs.murex.com/mx3/posttrade-api
servers:
  - url: https://api.murex.com/v1/posttrade
    description: Murex MX.3 Post-Trade API
tags:
  - name: Confirmations
    description: Trade confirmation generation and matching
  - name: Settlements
    description: Settlement instruction management and processing
  - name: Reconciliations
    description: Position and cash reconciliation operations
  - name: Regulatory Reporting
    description: Regulatory trade and transaction reporting
  - name: Collateral
    description: Collateral management and margin operations
security:
  - bearerAuth: []
paths:
  /confirmations:
    get:
      operationId: listConfirmations
      summary: List confirmations
      description: >-
        Retrieve trade confirmations with optional filtering by status,
        counterparty, and date range.
      tags:
        - Confirmations
      parameters:
        - name: status
          in: query
          description: Filter by confirmation status
          schema:
            type: string
            enum:
              - Pending
              - Sent
              - Matched
              - Mismatched
              - Disputed
              - Cancelled
        - name: counterpartyId
          in: query
          description: Filter by counterparty
          schema:
            type: string
        - name: fromDate
          in: query
          description: Start date
          schema:
            type: string
            format: date
        - name: toDate
          in: query
          description: End date
          schema:
            type: string
            format: date
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: List of confirmations
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Confirmation'
                  totalCount:
                    type: integer
        '401':
          description: Unauthorized
  /confirmations/{confirmationId}:
    get:
      operationId: getConfirmation
      summary: Get a confirmation
      description: Retrieve details of a specific trade confirmation.
      tags:
        - Confirmations
      parameters:
        - name: confirmationId
          in: path
          required: true
          description: Confirmation unique identifier
          schema:
            type: string
      responses:
        '200':
          description: Confirmation details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Confirmation'
        '401':
          description: Unauthorized
        '404':
          description: Confirmation not found
  /confirmations/{confirmationId}/match:
    post:
      operationId: matchConfirmation
      summary: Match a confirmation
      description: >-
        Mark a confirmation as matched after counterparty agreement.
      tags:
        - Confirmations
      parameters:
        - name: confirmationId
          in: path
          required: true
          description: Confirmation identifier
          schema:
            type: string
      responses:
        '200':
          description: Confirmation matched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Confirmation'
        '400':
          description: Confirmation cannot be matched
        '401':
          description: Unauthorized
        '404':
          description: Confirmation not found
  /settlements:
    get:
      operationId: listSettlements
      summary: List settlements
      description: >-
        Retrieve settlement instructions and their processing status.
      tags:
        - Settlements
      parameters:
        - name: status
          in: query
          description: Filter by settlement status
          schema:
            type: string
            enum:
              - Pending
              - Instructed
              - Settled
              - Failed
              - Cancelled
        - name: settlementDate
          in: query
          description: Filter by settlement date
          schema:
            type: string
            format: date
        - name: currency
          in: query
          description: Filter by settlement currency
          schema:
            type: string
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: List of settlements
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Settlement'
                  totalCount:
                    type: integer
        '401':
          description: Unauthorized
  /settlements/{settlementId}:
    get:
      operationId: getSettlement
      summary: Get a settlement
      description: Retrieve details of a specific settlement instruction.
      tags:
        - Settlements
      parameters:
        - name: settlementId
          in: path
          required: true
          description: Settlement unique identifier
          schema:
            type: string
      responses:
        '200':
          description: Settlement details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settlement'
        '401':
          description: Unauthorized
        '404':
          description: Settlement not found
  /settlements/{settlementId}/instruct:
    post:
      operationId: instructSettlement
      summary: Instruct a settlement
      description: >-
        Send settlement instructions to the payment or securities
        settlement system.
      tags:
        - Settlements
      parameters:
        - name: settlementId
          in: path
          required: true
          description: Settlement identifier
          schema:
            type: string
      responses:
        '200':
          description: Settlement instructed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settlement'
        '400':
          description: Settlement cannot be instructed
        '401':
          description: Unauthorized
        '404':
          description: Settlement not found
  /reconciliations:
    get:
      operationId: listReconciliations
      summary: List reconciliations
      description: >-
        Retrieve reconciliation results for positions, cash balances,
        and trade matching.
      tags:
        - Reconciliations
      parameters:
        - name: type
          in: query
          description: Reconciliation type
          schema:
            type: string
            enum:
              - Position
              - Cash
              - Trade
        - name: status
          in: query
          description: Filter by reconciliation status
          schema:
            type: string
            enum:
              - Matched
              - Unmatched
              - Pending
              - Investigating
        - name: asOfDate
          in: query
          description: Reconciliation date
          schema:
            type: string
            format: date
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: List of reconciliation items
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReconciliationItem'
                  totalCount:
                    type: integer
                  matchedCount:
                    type: integer
                  unmatchedCount:
                    type: integer
        '401':
          description: Unauthorized
  /reconciliations/{reconciliationId}:
    get:
      operationId: getReconciliation
      summary: Get a reconciliation item
      description: Retrieve details of a specific reconciliation item.
      tags:
        - Reconciliations
      parameters:
        - name: reconciliationId
          in: path
          required: true
          description: Reconciliation item identifier
          schema:
            type: string
      responses:
        '200':
          description: Reconciliation item details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReconciliationItem'
        '401':
          description: Unauthorized
        '404':
          description: Reconciliation item not found
  /regulatory/reports:
    get:
      operationId: listRegulatoryReports
      summary: List regulatory reports
      description: >-
        Retrieve regulatory trade reports for EMIR, MiFID II, Dodd-Frank,
        and other reporting regimes.
      tags:
        - Regulatory Reporting
      parameters:
        - name: regime
          in: query
          description: Regulatory reporting regime
          schema:
            type: string
            enum:
              - EMIR
              - MiFIDII
              - DoddFrank
              - SFTR
              - MAS
        - name: status
          in: query
          description: Report submission status
          schema:
            type: string
            enum:
              - Pending
              - Submitted
              - Accepted
              - Rejected
              - Amended
        - name: fromDate
          in: query
          description: Start date
          schema:
            type: string
            format: date
        - name: toDate
          in: query
          description: End date
          schema:
            type: string
            format: date
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: List of regulatory reports
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/RegulatoryReport'
                  totalCount:
                    type: integer
        '401':
          description: Unauthorized
  /regulatory/reports/{reportId}:
    get:
      operationId: getRegulatoryReport
      summary: Get a regulatory report
      description: Retrieve details of a specific regulatory report submission.
      tags:
        - Regulatory Reporting
      parameters:
        - name: reportId
          in: path
          required: true
          description: Regulatory report identifier
          schema:
            type: string
      responses:
        '200':
          description: Regulatory report details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegulatoryReport'
        '401':
          description: Unauthorized
        '404':
          description: Report not found
  /collateral/agreements:
    get:
      operationId: listCollateralAgreements
      summary: List collateral agreements
      description: >-
        Retrieve CSA and collateral agreements with margin call status.
      tags:
        - Collateral
      parameters:
        - name: counterpartyId
          in: query
          description: Filter by counterparty
          schema:
            type: string
        - name: status
          in: query
          description: Filter by agreement status
          schema:
            type: string
            enum:
              - Active
              - Suspended
              - Terminated
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: List of collateral agreements
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CollateralAgreement'
                  totalCount:
                    type: integer
        '401':
          description: Unauthorized
  /collateral/margin-calls:
    get:
      operationId: listMarginCalls
      summary: List margin calls
      description: >-
        Retrieve margin call calculations and their settlement status.
      tags:
        - Collateral
      parameters:
        - name: agreementId
          in: query
          description: Filter by collateral agreement
          schema:
            type: string
        - name: status
          in: query
          description: Filter by margin call status
          schema:
            type: string
            enum:
              - Calculated
              - Issued
              - Agreed
              - Disputed
              - Settled
        - name: asOfDate
          in: query
          description: Margin call date
          schema:
            type: string
            format: date
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: List of margin calls
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/MarginCall'
                  totalCount:
                    type: integer
        '401':
          description: Unauthorized
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for MX.3 API access
  parameters:
    limit:
      name: limit
      in: query
      description: Maximum number of results to return
      schema:
        type: integer
        default: 50
        maximum: 500
    offset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        default: 0
  schemas:
    Confirmation:
      type: object
      properties:
        confirmationId:
          type: string
          description: Unique confirmation identifier
        tradeId:
          type: string
          description: Associated trade identifier
        counterpartyId:
          type: string
          description: Counterparty identifier
        counterpartyName:
          type: string
          description: Counterparty name
        status:
          type: string
          enum:
            - Pending
            - Sent
            - Matched
            - Mismatched
            - Disputed
            - Cancelled
          description: Confirmation status
        confirmationType:
          type: string
          enum:
            - Electronic
            - Paper
            - Platform
          description: Confirmation delivery method
        platform:
          type: string
          description: Electronic confirmation platform (e.g., MarkitWire, DTCC)
        tradeDate:
          type: string
          format: date
          description: Trade date
        sentAt:
          type: string
          format: date-time
          description: When the confirmation was sent
        matchedAt:
          type: string
          format: date-time
          description: When the confirmation was matched
        createdAt:
          type: string
          format: date-time
          description: Creation timestamp
    Settlement:
      type: object
      properties:
        settlementId:
          type: string
          description: Unique settlement identifier
        tradeId:
          type: string
          description: Associated trade identifier
        status:
          type: string
          enum:
            - Pending
            - Instructed
            - Settled
            - Failed
            - Cancelled
          description: Settlement status
        settlementDate:
          type: string
          format: date
          description: Expected settlement date
        amount:
          type: number
          description: Settlement amount
        currency:
          type: string
          description: Settlement currency (ISO 4217)
        direction:
          type: string
          enum:
            - Pay
            - Receive
          description: Settlement direction
        counterpartyId:
          type: string
          description: Counterparty identifier
        counterpartyName:
          type: string
          description: Counterparty name
        nostroAccount:
          type: string
          description: Nostro account for settlement
        correspondentBank:
          type: string
          description: Correspondent bank details
        paymentMethod:
          type: string
          enum:
            - SWIFT
            - FedWire
            - TARGET2
            - CLS
            - RTGS
          description: Payment settlement method
        messageType:
          type: string
          description: SWIFT message type (e.g., MT202, MT300)
        instructedAt:
          type: string
          format: date-time
          description: When settlement was instructed
        settledAt:
          type: string
          format: date-time
          description: Actual settlement timestamp
    ReconciliationItem:
      type: object
      properties:
        reconciliationId:
          type: string
          description: Unique reconciliation item identifier
        type:
          type: string
          enum:
            - Position
            - Cash
            - Trade
          description: Reconciliation type
        status:
          type: string
          enum:
            - Matched
            - Unmatched
            - Pending
            - Investigating
          description: Reconciliation status
        internalValue:
          type: number
          description: Internal system value
        externalValue:
          type: number
          description: External or counterparty value
        difference:
          type: number
          description: Difference between internal and external values
        currency:
          type: string
          description: Currency of the reconciled values
        source:
          type: string
          description: External data source
        asOfDate:
          type: string
          format: date
          description: Reconciliation date
        instrumentId:
          type: string
          description: Instrument identifier if applicable
        counterpartyId:
          type: string
          description: Counterparty identifier if applicable
        comment:
          type: string
          description: Investigation or resolution notes
    RegulatoryReport:
      type: object
      properties:
        reportId:
          type: string
          description: Unique report identifier
        tradeId:
          type: string
          description: Associated trade identifier
        regime:
          type: string
          enum:
            - EMIR
            - MiFIDII
            - DoddFrank
            - SFTR
            - MAS
          description: Reporting regime
        reportType:
          type: string
          enum:
            - New
            - Modify
            - Cancel
            - Valuation
          description: Report action type
        status:
          type: string
          enum:
            - Pending
            - Submitted
            - Accepted
            - Rejected
            - Amended
          description: Submission status
        uti:
          type: string
          description: Unique Transaction Identifier
        lei:
          type: string
          description: Legal Entity Identifier of the reporting entity
        tradeRepository:
          type: string
          description: Trade repository destination
        submittedAt:
          type: string
          format: date-time
          description: Submission timestamp
        responseAt:
          type: string
          format: date-time
          description: Trade repository response timestamp
        rejectionReason:
          type: string
          description: Rejection reason if rejected
    CollateralAgreement:
      type: object
      properties:
        agreementId:
          type: string
          description: Unique agreement identifier
        agreementType:
          type: string
          enum:
            - CSA
            - ISDA
            - GMRA
            - GMSLA
          description: Agreement type
        counterpartyId:
          type: string
          description: Counterparty identifier
        counterpartyName:
          type: string
          description: Counterparty name
        status:
          type: string
          enum:
            - Active
            - Suspended
            - Terminated
          description: Agreement status
        baseCurrency:
          type: string
          description: Agreement base currency
        threshold:
          type: number
          description: Threshold amount
        minimumTransferAmount:
          type: number
          description: Minimum transfer amount
        independentAmount:
          type: number
          description: Independent amount
        currentExposure:
          type: number
          description: Current credit exposure
        collateralHeld:
          type: number
          description: Collateral held value
        collateralPosted:
          type: number
          description: Collateral posted value
    MarginCall:
      type: object
      properties:
        marginCallId:
          type: string
          description: Unique margin call identifier
        agreementId:
          type: string
          description: Associated collateral agreement
        counterpartyId:
          type: string
          description: Counterparty identifier
        direction:
          type: string
          enum:
            - Deliver
            - Return
          description: Margin call direction
        callAmount:
          type: number
          description: Margin call amount
        currency:
          type: string
          description: Margin call currency
        exposure:
          type: number
          description: Current exposure amount
        status:
          type: string
          enum:
            - Calculated
            - Issued
            - Agreed
            - Disputed
            - Settled
          description: Margin call status
        callDate:
          type: string
          format: date
          description: Margin call date
        settlementDate:
          type: string
          format: date
          description: Expected settlement date
        issuedAt:
          type: string
          format: date-time
          description: When the margin call was issued
