openapi: 3.1.0
info:
  title: Murex MX.3 Market Data Accounting Limits API
  description: Real-time and historical market data API providing quotes, yield curves, volatility surfaces, and reference data for pricing and valuation on the Murex MX.3 platform.
  version: '1.0'
  contact:
    name: Murex Support
    url: https://www.murex.com/en/support
  termsOfService: https://www.murex.com/en/legal/terms
servers:
- url: https://api.murex.com/v1/marketdata
  description: Murex MX.3 Market Data API
security:
- bearerAuth: []
tags:
- name: Limits
  description: Risk limit monitoring and management
paths:
  /limits:
    get:
      operationId: listLimits
      summary: Murex List risk limits
      description: Retrieve configured risk limits and their current utilization.
      tags:
      - Limits
      parameters:
      - $ref: '#/components/parameters/portfolioId'
      - $ref: '#/components/parameters/deskId'
      - name: status
        in: query
        description: Filter by limit status
        schema:
          type: string
          enum:
          - Active
          - Breached
          - Warning
          - Inactive
      responses:
        '200':
          description: List of risk limits
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/RiskLimit'
        '401':
          description: Unauthorized
  /limits/{limitId}:
    get:
      operationId: getLimit
      summary: Murex Get a risk limit
      description: Retrieve details of a specific risk limit.
      tags:
      - Limits
      parameters:
      - name: limitId
        in: path
        required: true
        description: Risk limit identifier
        schema:
          type: string
      responses:
        '200':
          description: Risk limit details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskLimit'
        '401':
          description: Unauthorized
        '404':
          description: Risk limit not found
components:
  schemas:
    RiskLimit:
      type: object
      properties:
        limitId:
          type: string
          description: Unique limit identifier
        name:
          type: string
          description: Limit name
        limitType:
          type: string
          enum:
          - VaR
          - Notional
          - Sensitivity
          - PV01
          - CreditExposure
          description: Type of risk limit
        portfolioId:
          type: string
          description: Associated portfolio
        deskId:
          type: string
          description: Associated trading desk
        limitValue:
          type: number
          description: Maximum limit value
        currentUtilization:
          type: number
          description: Current utilization amount
        utilizationPercent:
          type: number
          description: Utilization as percentage of limit
        currency:
          type: string
          description: Limit currency
        status:
          type: string
          enum:
          - Active
          - Breached
          - Warning
          - Inactive
          description: Current limit status
        warningThreshold:
          type: number
          description: Warning threshold as percentage
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp
  parameters:
    deskId:
      name: deskId
      in: query
      description: Trading desk identifier
      schema:
        type: string
    portfolioId:
      name: portfolioId
      in: query
      description: Portfolio or book identifier
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for MX.3 API access
externalDocs:
  description: Murex MX.3 Market Data API Documentation
  url: https://docs.murex.com/mx3/marketdata-api
